main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.post {
  background-color: #002400;

  padding: 10%;
  border-radius: 5%;
}
.post:hover {
  box-shadow: 5% #000;
  padding: 10.1%;
}
h1 {
  display: flex;
  justify-content: center;
}
html {
  background-color: #ced097;
}
