html {
  background-color: #ced097;
  box-sizing: border-box;
  font-size: 62.5%;
  color: #58641d;
  margin: 1%;
  padding: 1%;
  border-radius: 1%;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 5rem;
}

.post {
  background-color: #002400;
  box-sizing: border-box;
  margin: 10rem;
  padding: 15rem;
  border-radius: 4rem;
  box-shadow: inset 0 0 1rem #ffffff;
}
.post:hover {
  size: 1.1rem;
  box-shadow: 0 0 2rem #0f1104;
}
h1 {
  display: flex;
  justify-content: center;
}
